.parent {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item {
    background-color: blue;
    padding: 20px;
}

.item-1 {
    align-self: flex-end;
}